#search > div {
  margin-top: 8px;
  width: 100%;
}

#search input[type=text], #search button {
  padding: 4px 8px;

  background-color: #EEE;
  color: #444;
}

/* We cannot control the search UI, so manually calculate widths for sizing */
#search input {
  padding-right: 4px !important; /* Pagefind likes to add a large padding here, disable it */

  width: calc(100%
                - max(10%, 50px) /* button width */
                - 20px /* margins */);

  border: 1px solid #EEE;
}

#search button {
  width: calc(max(10%, 50px));

  border: 1px solid #AAA;
}

/* This is the load more results button */
#search .pagefind-ui__drawer button {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

